<!DOCTYPE html>
<head>
    <title>repo</title>
    <link rel="stylesheet" href="repo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="repo-card">
        <div class="repo-card__avatar">
            <img src="https://img2.freepng.ru/20180204/owe/kisspng-juice-lemon-tangerine-grapefruit-orange-fruit-5a77af8e4b9f06.5103260515177931663098.jpg" alt="">
        </div>
        <ul class="repo-card__info">
            <li class="repo-card__title">kts-school-frontendkts-school-frontendkts-school-frontendkts-school-frontend</li>
            <li class="repo-card__author">ktsstudio</li>
            <li class="repo-card__rating">123</li>
            <li class="repo-card_update">Updated 21 Jul</li>
        </ul>
    </div>
</body>
</html>
