.repo-card {
    width: 357px;
    height: 104px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
}

.repo-card:hover {
    box-shadow: 0px 2px 6px 0px #B6B6B640;
}

.repo-card__avatar {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
}

.repo-card__info {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 12px;
    display: inline-block;
    font-family: Roboto;
    vertical-align: top;
    margin-top: 11px;
    width: 235px;
}

.repo-card__title {
    font-weight: 900;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.repo-card__author {
    margin: 4px 0px;
    opacity: 0.6;
    font-size: 14px;
    cursor: pointer;
}

.repo-card__author:hover {
    opacity: 1;
}

.repo-card__rating {
    display: inline;
    margin-top: 4px;
    font-size: 14px;
    margin-right: 1em;
}

.repo-card__rating::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url("./Vector.svg") no-repeat center / cover;
    vertical-align: text-top;
    margin-right: 0.5em;
}

.repo-card_update {
    display: inline;
    margin-top: 4px;
    font-size: 14px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
