<!DOCTYPE html>
<head>
    <title>input</title>
    <link rel="stylesheet" href="input.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <input type="text" placeholder="Введите название организации" class="custom-input">
    <input type="text" placeholder="Введите название организации" class="custom-input" disabled>
</body>
</html>
