<!DOCTYPE html>
<head>
    <title>input</title>
    <link rel="stylesheet" href="repository-list.css">
    <link rel="stylesheet" href="../input/input.css">
    <link rel="stylesheet" href="../repo-component/repo.css">
    <link rel="stylesheet" href="../search-button/search-button.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="repository-list">
        <input type="text" placeholder="Введите название организации" class="custom-input">
        <button class="search-button">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z" fill="white"/>
            </svg>
        </button>
        <div class="repo-card">
            <div class="repo-card__avatar">
                <img class="img-cover" src="https://img2.freepng.ru/20180204/owe/kisspng-juice-lemon-tangerine-grapefruit-orange-fruit-5a77af8e4b9f06.5103260515177931663098.jpg" alt="">
            </div>
            <ul class="repo-card__info">
                <li class="repo-card__title">kts-school-frontendkts-school-frontendkts-school-frontendkts-school-frontend</li>
                <li class="repo-card__author">ktsstudio</li>
                <li class="repo-card__rating">123</li>
                <li class="repo-card__update">Updated 21 Jul</li>
            </ul>
        </div>
        <div class="repo-card">
            <div class="repo-card__avatar">
                <img class="img-cover" src="https://img2.freepng.ru/20180204/owe/kisspng-juice-lemon-tangerine-grapefruit-orange-fruit-5a77af8e4b9f06.5103260515177931663098.jpg" alt="">
            </div>
            <ul class="repo-card__info">
                <li class="repo-card__title">kts-school-frontendkts-school-frontendkts-school-frontendkts-school-frontend</li>
                <li class="repo-card__author">ktsstudio</li>
                <li class="repo-card__rating">123</li>
                <li class="repo-card__update">Updated 21 Jul</li>
            </ul>
        </div>
        <div class="repo-card">
            <div class="repo-card__avatar">
                <img class="img-cover" src="https://img2.freepng.ru/20180204/owe/kisspng-juice-lemon-tangerine-grapefruit-orange-fruit-5a77af8e4b9f06.5103260515177931663098.jpg" alt="">
            </div>
            <ul class="repo-card__info">
                <li class="repo-card__title">kts-school-frontendkts-school-frontendkts-school-frontendkts-school-frontend</li>
                <li class="repo-card__author">ktsstudio</li>
                <li class="repo-card__rating">123</li>
                <li class="repo-card__update">Updated 21 Jul</li>
            </ul>
        </div>
    </div>
</body>
</html>