.repo-card {
    width: 357px;
    height: 104px;
    border-radius: 6px;
    border: 1px solid var(--color-border-main);
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    transition: 0.5s;
    align-items: center;
}

.repo-card:hover {
    box-shadow: var(--box-shadow-hover);
}

.repo-card__avatar {
    width: 80px;
    height: 80px;
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
}

.repo-card__info {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 12px;
    font-family: Roboto;
    width: 235px;
}

.repo-card__title {
    font-weight: 700;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.repo-card__author {
    margin: 4px 0px;
    color: var(--color-side-text);
    font-size: 14px;
    cursor: pointer;
}

.repo-card__author:hover {
    color: var(--link-hover);
}

.repo-card__rating {
    display: inline;
    margin-top: 4px;
    font-size: 14px;
    margin-right: 20px;
    color: var(--color-side-text);
}

.repo-card__update {
    display: inline;
    margin-top: 4px;
    font-size: 14px;
    color: var(--color-side-text);
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}